body {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "JetBrains Mono", monospace;
  gap: 20px;
}

.card {
  background-color: #1c1c22;
  width: 380px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 8px;
}

.info-card {
  background-color: #1c1c22;
  width: 380px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  border-radius: 8px;
}

.name {
  color: #00ff99;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.profession {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.separator {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  padding-right: 40px;
}

.info-list {
  font-size: 12px;
  color: aliceblue;
  list-style: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info-list li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.info-list i {
  color: #00ff99;
}

.profile-image {
  width: 25%;
  height: auto;
  border-radius: 50%;
  border: 2px solid #00ff99;
  
}
